APP_PORT=your_app_port
APP_HOST= your_app_host
DB_TYPE=your_sql_database
DB_HOST=your_database_host
DB_PORT=your_database_port
DB_USERNAME=your_database_userneme
DB_PASSWORD=your_database_password
DB_DATABASE=your_database_name
JWT_SECRET=jwt_secrete
